<!DOCTYPE html>
<html lang="zh">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>test</title>
	<script src="./js/vue.js"></script>
	<script src="./js/axios.min.js"></script>
	<style>
		input {
			width: 200px;
			height: 32px;
			padding-left: 5px;
		}
	</style>
</head>

<body>
	<div id="app">
		<input type="text" placeholder="请输入要搜索的菜单内容" v-model="search" />
		<ul>
			<li v-for="father in filtered">
				<span :style="selectedStyle(father.meta.title)">{{father.meta.title}}</span>
				<ul v-if="father.children" v-for="child in father.children">
					<li>
						<span :style="selectedStyle(child.meta.title)">{{child.meta.title}}</span>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</body>
<script type="text/javascript" src="./js/index.js"></script>

</html>