<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>任务管理器</title>

	<link type="text/css" href="css/style.css" rel="stylesheet" />
</head>

<body>
	<div id="box">
		<div class="head">
			<h2>Todos</h2>
			<p>罗列日常计划，做一个时间管理大师！</p>
			<div class="input">
				<span>内容</span>
				<input type="text" placeholder="请输入你要做的事" v-model="todo" />
				<span id='add' @click="addThis()">确认</span>
			</div>
		</div>

		<ul class="list">
			<li v-if="!todos.length">
				暂无数据
			</li>
			<li v-else v-for="item, index in todos">
				<span class="xh">{{index + 1}}</span>
				<span>{{item}}</span>
				<span class="qc" @click="deleteThis(index)"></span>
			</li>
			<li v-if="todos.length">
				<b>
					总数：{{todos.length}}
				</b>
				<b id='clear' @click="deleteAll()">清除</b>
			</li>
		</ul>
	</div>
	<script src="js/vue.js"></script>
	<script>
		var top = new Vue({
			el: "#box",
			data: {
				todo: "",
				todos: []
			},
			methods: {
				addThis() {
					if (this.todo != "") {
						this.todos.push(this.todo);
						this.todo = "";
					}
				},
				deleteThis(index) {
					this.todos.splice(index, 1);
				},
				deleteAll() {
					this.todos = [];
				}
			}
		})
	</script>
</body>

</html>