.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 960px;
  margin: 0 auto;
}

.item {
  display: block;
  width: 66px;
  height: 66px;
}

.item img {
  width: 100%;
  height: auto;
}

[class$="box"] {
  width: 204px;
  height: 204px;
  margin: 20px;
  background-image: linear-gradient(rgb(252, 213, 136) 33.3%,
      #fff493 0,
      #fdf45d 66.6%,
      #f8da47 0);
  background-size: 6px 6px;
}

#box1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

#box2 {
  display: flex;
  justify-content: space-between;
}

#box2 span:nth-of-type(2) {
  align-self: flex-end;
}

#box3 {
  display: flex;
  justify-content: space-between;
}

#box3 span:nth-of-type(2) {
  align-self: center;
}

#box3 span:nth-of-type(3) {
  align-self: flex-end;
}